---
layout: default
title: Home
notitle: true
description: The Molecular Quantum Dynamics Lab (MolQuantDyn Lab) at Haverford College develops and uses quantum dynamics methods for atmospheric chemistry, astrophysics, combustion and catalysis.

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [msc, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum, collab]
    width: 7
    image: false

---



<div class="jumbotron">
    <p>
<!--        The <b>Molecular Quantum Dynamics Lab (MolQuantDyn Lab)</b> at <b><a href="https://haverford.edu/">Haverford College</a></b>, <b><a href="https://www.haverford.edu/physics-and-astronomy">Department of Physics and Astronomy</a></b> works on method development and simulations in molecular quantum dynamics. These methods are applied in atmospheric chemistry, astrophysics, combustion and catalysis to address challenging questions. -->
Welcome to the <b>Molecular Quantum Dynamics Lab (MolQuantDyn Lab)</b> at <b><a href="https://haverford.edu/">Haverford College</a></b>. Our research group is dedicated to understanding the fundamental behaviors of molecules at the quantum mechanical level. We develop and use advanced theoretical and computational models and methods to explore the intricate dance of atoms during chemical reactions and the absorption of light, processes that are central to fields ranging from atmospheric science to astrophysics. As seen in our publications, our recent research delved into several key areas: photodissociation dynamics, inelastic scattering and energy transfer, spectroscopy and potential energy surfaces.
<!-- To tackle these complex problems, our group utilizes state-of-the-art computational techniques, including the Multi-Configuration Time-Dependent Hartree (MCTDH) method. This powerful approach allows us to solve the time-dependent Schrödinger equation, providing a moving picture of molecular dynamics with remarkable accuracy. Our goal is to push the boundaries of theoretical chemistry, providing detailed, quantum-level insights that bridge the gap between fundamental theory and experimental observation. -->
We invite you to explore our publications to learn more about our specific projects and contributions to the field.


<!-- 
Our work centers on developing and applying advanced theoretical models to predict the behavior of small molecules. As seen in our publications, our research delves into several key areas:
- Photodissociation Dynamics: We investigate what happens when molecules, such as ozone (O₃) and the formyl radical (HCO), break apart after absorbing light. Understanding these processes is crucial for modeling atmospheric chemistry and the effects of solar radiation.
- Inelastic Scattering and Energy Transfer: We study how molecules exchange energy when they collide. Our work on systems like HD-HD and O₃-Ar collisions helps unravel the fundamental mechanisms of thermal relaxation and state-to-state energy transfer, which are essential for understanding gas-phase environments.
- Spectroscopy and Potential Energy Surfaces: A significant part of our effort involves computing highly accurate potential energy surfaces. These "quantum landscapes" govern how atoms in a molecule move and interact. By calculating the vibrational and electronic states of molecules like NO₂, we can predict their spectroscopic signatures and provide data that complements and guides experimental findings.
-->

    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% if post.type == "news" %}
                {% include news-item.html item=post %}
            {% endif %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<!-- <section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div> -->

<div id="funding">
    <h2>Funding</h2>
    <p>
        Our work has benefited in the past from funding by <b><a href="https://www.ictp.it/">ICTP-OEA</a></b>, <b><a href="https://owsd.net/">OWSD</a></b> and <b><a href="https://www.epfl.ch/research/domains/exaf/">EXAF-EPFL</a></b> programs. 
<!--<a href="https://epsrc.ukri.org">Engineering and Physical Sciences Research Council</a>.-->
    </p>
    <br>
</div>
