---
layout: default
title: People
description: Current members and alumni of the Molecular Quantum Dynamics Lab at Haverford College.

picture-role-groups:
- {roles: [faculty, postdoc, staff], width: 4}
- {roles: [grad, senior-thesis], width: 4}
- {roles: [msc, student-researcher], width: 4}

no-picture-role-groups:
- {roles: [collab], width: 6}
- {roles: [alum, ugrad, ugrad-alum], width: 6}
---

<p>
Our members have backgrounds in physics, chemistry, mathematics and materials science. Our group is composed of one faculty member, one PhD student, two senior thesis students, and five student researchers working on individual and group projects throughout the academic year. Check our profiles below.
</p>

<!-- <br><br> -->

<section class="people row justify-content-between">
    {% for role-group in page.picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=true %}
            {% endfor %}
        </div>
    {% endfor %}

    {% for item in site.data.people %}
        {% assign person = item[1] %}
        {% if person.role == role.key %}
            {% include person.html person=person image=true %}
        {% endif %}
    {% endfor %}
</section>

<section class="people row justify-content-between">
    {% for role-group in page.no-picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=false %}
            {% endfor %}
        </div>
    {% endfor %}
</section>
