---
layout: default
title: Dr. Steve Ndengue
notitle: true
---
{% assign person = include.person %}

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

<section>

    <div class="container" style="margin: 0pt; padding: 0%;">
        <div class="row">
            <div class="col-md-auto">
                <div class="jumbotron" style="font-size: 100%;">
                    <p class="text-center">
                        <img class="rounded-circle profile"
                        alt="Dr Steve Ndengue"
                        src="/img/people/steve-ndengue.jpg"
                        width = 200pt />
                    </p>
                    <p class="text-center">
                        <strong>Dr. Steve Ndengue</strong><br>
                        Senior Lecturer
                    </p>
                    <hr>
                    <p>
                        <i class="fa fa-envelope-o"></i>&nbsp; sndengue@haverford.edu <br>
<!--                        <i class="fa fa-twitter"></i>&nbsp; @stevendengue <br>          -->
                    </p>
                </div>
            </div>
            <div class="col">
                <p class="font-weight-bold m-0 p-0">Biography</p>
                <p>
Steve Ndengué is a chemical physicist with broad research interests, particularly in the use of tensor contraction methods combined with quantum and classical dynamics to describe physical and chemical processes relevant to atmospheric chemistry, combustion, astrophysics and catalysis. 
He earned a PhD in Physics of Condensed Matter and Radiation from the University of Grenoble Alpes, France.
Following a teaching and research position at the University of Douala, Cameroon, he went for a postdoctoral position at the Missouri University of Science and Technology.
From 2019 to 2023, he was a Senior Lecturer at the ICTP-East African Institute for Fundamental Research, hosted by the University of Rwanda.
Before joining Haverford College in the Fall of 2024, he had a Visiting Assistant Professor of Physics position at Trinity College in Hartford, CT.
                </p>
            </div>
        </div>
    </div>
</section>
