<table class="table" id="pub-table">
<tbody>
	<tr>
		<td>
			<span class="date">

				<big><strong>2026</strong></big><br />

				August
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/h2cco-he-toc.jpeg" alt="Figure from Inelastic scattering of H2CCO ketene induced by He atoms and non-LTE analysis" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.aip.org/aip/jcp/article/165/5/054303/3400225">Inelastic scattering of H2CCO ketene induced by He atoms and non-LTE analysis</a>.
			</span><br />
			<span class="authors">
				Abdelhak Jrad, Manel Naouai, and Steve Ndengué.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Chemical Physics 165(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">

				<big><strong>2025</strong></big><br />

				August
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/ph3h2-toc.jpeg" alt="Figure from Rigid rotor state-to-state cross-sections and rates of the PH3+H2 collision" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.rsc.org/en/content/articlehtml/2025/cp/d5cp02236c">Rigid rotor state-to-state cross-sections and rates of the PH3+H2 collision</a>.
			</span><br />
			<span class="authors">
				Faouzi Najar, Ayda Badri, Hervé Tajouo Tela, Steve Ndengué, and Nicola Tasinato.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Chemistry Chemical Physics 27(36)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/po+h2-toc.png" alt="Figure from A New Potential Energy Surface of the PO+-H2 Complex and Intermolecular Rovibrational State Calculations" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/pdf/10.1021/acs.jpca.5c02638">A New Potential Energy Surface of the PO+-H2 Complex and Intermolecular Rovibrational State Calculations</a>.
			</span><br />
			<span class="authors">
				Hervé Tajouo Tela, Cheikh T Bop, François Lique, and Steve Ndengué.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 129(28)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/h2ohcn-toc.png" alt="Figure from Rovibrational states calculations of the H2O-HCN heterodimer" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.rsc.org/en/content/articlehtml/2023/cp/d3cp03225f">Rovibrational states calculations of the H2O-HCN heterodimer with the multiconfiguration time dependent Hartree method</a>.
			</span><br />
			<span class="authors">
				Herve Tajouo Tela, Ernesto Quintas-Sanchez, Marie-Lise Dubernet, Yohann Scribano, Richard Dawes, Fabien Gatti, and Steve Ndengue.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Chemistry Chemical Physics 25(46)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/2023-ndengue-jpca-cover.jpg" alt="Figure from Temperature Dependence of the Electronic Absorption Spectrum of NO2" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/full/10.1021/acs.jpca.3c02832">Temperature Dependence of the Electronic Absorption Spectrum of NO2</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Ernesto Quintas-Sanchez, Richard Dawes, Christopher C Blackstone, and David L Osborn.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 127(29)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/2021-ndengue-jpca-cover.jpeg" alt="Figure from The Low-Lying Electronic States of NO2" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpca.1c03482">The Low-Lying Electronic States of NO2: Potential Energy and Dipole Surfaces, Bound States, and Electronic Absorption Spectrum</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Ernesto Quintas-Sanchez, Richard Dawes, and David Osborn.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 125(25)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/RatesComparison.jpeg" alt="Figure from Temperature-dependent rotationally inelastic collisions of OH- and He" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://journals.aps.org/pra/abstract/10.1103/PhysRevA.103.052807">Temperature-dependent rotationally inelastic collisions of OH- and He</a>.
			</span><br />
			<span class="authors">
				Eric S Endres, Steve Ndengue, Olga Lakhmanskaya, Seunghyun Lee, Francesco A Gianturco, Richard Dawes, and Roland Wester.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Review A 103(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/fig_QCT-MCTDH.png" alt="Figure from Theoretical investigation of the H+HD to D+H2 chemical reaction" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://aip.scitation.org/doi/10.1063/5.0017697">Theoretical investigation of the H+HD→D+H2 chemical reaction for astrophysical applications: A state-to-state quasi-classical study</a>.
			</span><br />
			<span class="authors">
				Duncan Bossion, Steve Ndengue, Hans-Dieter Meyer, Fabien Gatti, and Yohann Scribano.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Chemical Physics 153(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/o3ar-scattering.jpeg" alt="Figure from Rotationally inelastic scattering of O3-Ar" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.rsc.org/en/content/articlelanding/2020/CP/C9CP06501F">Rotationally inelastic scattering of O3-Ar: state-to-state rates with the multiconfigurational time dependent Hartree method</a>.
			</span><br />
			<span class="authors">
				Sangeeta Sur, Steve A Ndengue, Ernesto Quintas-Sanchez, Cheikh Bop, Francois Lique, and Richard Dawes.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Chemistry Chemical Physics 22(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/mctdh-molscat_000-111.png" alt="Figure from State-to-state inelastic rotational cross sections in five-atom systems" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://aip.scitation.org/doi/10.1063/1.5119381">State-to-state inelastic rotational cross sections in five-atom systems with the multiconfiguration time dependent Hartree method</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Yohan Scribano, Fabien Gatti, and Richard Dawes.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Chemical Physics 151(13)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/o3ar-pes.jpeg" alt="Figure from Development of a potential energy surface for the O3-Ar system" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.rsc.org/en/content/articlelanding/2019/CP/C9CP01044K">Development of a potential energy surface for the O3-Ar system: rovibrational states of the complex</a>.
			</span><br />
			<span class="authors">
				Sangeeta Sur, Ernesto Quintas Sanchez, Steve Ndengue, and Richard Dawes.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physical Chemistry Chemical Physics 21(18)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/hco-bond-breaking-toc.jpeg" alt="Figure from Dynamical Interference in the Vibronic Bond Breaking Reaction of HCO" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.science.org/doi/10.1126/sciadv.aau0582">Dynamical Interference in the Vibronic Bond Breaking Reaction of HCO</a>.
			</span><br />
			<span class="authors">
				S. Han, X. Zheng, S. Ndengue, Y. Song, R. Dawes, D. Xie, J. Zhang, and H. Guo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Science Advances 5(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/h2o-h2-dimer-toc.jpg" alt="Figure from Intermolecular rovibrational bound states of H2O-H2 dimer from a MultiConfiguration Time Dependent Hartree approach" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.sciencedirect.com/science/article/abs/pii/S000926141830962X">Intermolecular rovibrational bound states of H2O-H2 dimer from a MultiConfiguration Time Dependent Hartree approach</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Yohan Scribano, David Benoit, Richard Dawes, and Fabien Gatti.
			</span><br />
			<span class="venuetype"></span><span class="venue">Chemical Physics Letters 715(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/ar-sio-toc.jpeg" alt="Figure from The rotational spectrum and potential surface of the Ar-SiO complex" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://aip.scitation.org/doi/10.1063/1.5048202">The rotational spectrum and potential surface of the Ar-SiO complex</a>.
			</span><br />
			<span class="authors">
				Michael McCarthy, Steve Ndengue, and Richard Dawes.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Chemical Physics 149(13)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/hco-renner-teller-toc.png" alt="Figure from Influence of the Renner-Teller coupling in the H+CO inelastic scattering" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpca.8b05235">Influence of the Renner-Teller coupling in the H+CO inelastic scattering</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Richard Dawes, Fabien Gatti, and Hua Guo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Physical Chemistry A 122(31)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/atom-triatom-mctdh-toc.jpg" alt="Figure from Atom-Triatom Rigid Rotor Inelastic Scattering with the MultiConfiguration Time Dependent Hartree (MCTDH) approach" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.sciencedirect.com/science/article/abs/pii/S0009261416309617">Atom-Triatom Rigid Rotor Inelastic Scattering with the MultiConfiguration Time Dependent Hartree (MCTDH) approach</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Richard Dawes, Fabien Gatti, and Hans-Dieter Meyer.
			</span><br />
			<span class="venuetype"></span><span class="venue">Chemical Physics Letters 668(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.tandfonline.com/doi/abs/10.1080/0144235X.2016.1195102">Single-and multireference electronic structure calculations for constructing potential energy surfaces</a>.
			</span><br />
			<span class="authors">
				Richard Dawes and Steve A Ndengue.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Reviews in Physical Chemistry 35(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/hco-resonance-states-toc.jpeg" alt="Figure from A new set of Potential Energy Surfaces for HCO: Influence of Renner-Teller coupling on the bound and resonance vibrational states" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://aip.scitation.org/doi/10.1063/1.4954374">A new set of Potential Energy Surfaces for HCO: Influence of Renner-Teller coupling on the bound and resonance vibrational states.</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Richard Dawes, and Hua Guo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Chemical Physics 144(24)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/ozone-vibrational-states-toc.jpeg" alt="Figure from Calculated vibrational states of ozone up to dissociation" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://aip.scitation.org/doi/10.1063/1.4941559">Calculated vibrational states of ozone up to dissociation</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Richard Dawes, Xiao-Gang Wang, Tucker Carrington, Zhigang Sun, and Hua Guo.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Chemical Physics 144(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/automated-pes-construction-toc.jpg" alt="Figure from Automated Construction of Potential Energy Surfaces" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.tandfonline.com/doi/abs/10.1080/00268976.2015.1096974">Automated Construction of Potential Energy Surfaces</a>.
			</span><br />
			<span class="authors">
				Moumita Majumder, Steve Ndengue, and Richard Dawes.
			</span><br />
			<span class="venuetype"></span><span class="venue">Molecular Physics 114(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/hco-resonance-contour-toc.png" alt="Figure from Resonances of HCO computed using an approach based on the Multiconfiguration Time Dependent Hartree Method" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpca.5b04642">Resonances of HCO computed using an approach based on the Multiconfiguration Time Dependent Hartree Method</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Richard Dawes, Fabien Gatti, and Hans-Dieter Meyer.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 119(28)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://iopscience.iop.org/article/10.1088/0953-4075/48/21/215001/meta">Polarizability of off-center spherically confined hydrogen atom</a>.
			</span><br />
			<span class="authors">
				Robert Landry Melingui Melono, Anne Justine Etindele, Theophile Tchakoua, Steve Ndengue, and Ousmanou Motapon.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Physics B: Atomic, Molecular and Optical Physics 48(21)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/criegee-ch2oo-vibrational-toc.jpeg" alt="Figure from Vibrational energy levels of the simplest Criegee intermediate (CH2OO) from full-dimensional quantum and MCTDH calculation" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://aip.scitation.org/doi/10.1063/1.4929707">Vibrational energy levels of the simplest Criegee intermediate (CH2OO) from full-dimensional quantum and MCTDH calculation</a>.
			</span><br />
			<span class="authors">
				Hua-Gen Yu, Steve Ndengue, Jun Li, Richard Dawes, and Hua Guo.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Chemical Physics 143(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/co-co-collisions-pes-toc.jpeg" alt="Figure from Rotational Excitations in CO-CO Collisions at Low Temperature" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpca.5b01022">Rotational Excitations in CO-CO Collisions at Low Temperature: Time-Independent and Multiconfigurational Time-Dependent Hartree Calculations</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Richard Dawes, and Fabien Gatti.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 119(28)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://link.springer.com/chapter/10.1007/978-3-319-09982-8_7">Chap.7: Spatial and Shell-Confined One Electron Atomic and Molecular Systems: Structure and Dipole Polarizability</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue and Ousmanou Motapon.
			</span><br />
			<span class="venuetype">Chapter in </span><span class="venue">Electronic Structure of Quantum Confined Atoms and Molecules</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/ozone-photolysis-bands-toc.png" alt="Figure from Ozone photolysis: Strong isotopologue/isotopomer selectivity in the stratosphere" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1002/2013JD020033">Ozone photolysis: Strong isotopologue/isotopomer selectivity in the stratosphere</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Sasha Madronich, Fabien Gatti, Hans-Dieter Meyer, Ousmanou Motapon, and Remy Jost.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Atmospheres 119(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://iopscience.iop.org/article/10.1088/0953-4075/47/1/015002/meta">Electronic structure of a cylindrically confined hydrogen atom by the B-splines method: energy levels and dipole polarizability</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Ousmanou Motapon, Robert Melingui Melono, and Anne Justine Etindele.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Physics B: Atomic, Molecular and Optical Physics 47(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/ozone-huggins-wavefunction-toc.png" alt="Figure from Comparison of the Huggins Band for Six Ozone Isotopologues: Vibrational Levels and Absorption Cross Section" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/abs/10.1021/jp3064382">Comparison of the Huggins Band for Six Ozone Isotopologues: Vibrational Levels and Absorption Cross Section</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Reinhard Schinke, Fabien Gatti, Hans-Dieter Meyer, and Remy Jost.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 116(50)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/ozone-photodissociation-branching-toc.png" alt="Figure from Ozone Photodissociation: Isotopic and Electronic Branching Ratios for Symmetric and Asymmetric Isotopologues" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/abs/10.1021/jp307195v">Ozone Photodissociation: Isotopic and Electronic Branching Ratios for Symmetric and Asymmetric Isotopologues</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Reinhard Schinke, Fabien Gatti, Hans-Dieter Meyer, and Remy Jost.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 116(50)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Absorption cross-section from Ab initio PESs and Wavepacket Propagation: the Ozone test case.
			</span><br />
			<span class="authors">
				Steve Ndengue, Remy Jost, Fabien Gatti, Reinhard Schinke, Hans-Dieter Meyer, and Ousmanou Motapon.
			</span><br />
			<span class="venuetype"></span><span class="venue">Formation, Recherche, Innovation et D\'eveloppement Au Coeur de l'Interdisciplinarit\'e, Actes des 3\`emes Rencontres EG@ Yaound\'e, Cameroun, 14-16 Septembre 2010</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/qua.22996">Static and dynamic dipole polarizabilities and electron density at origin: Ground and excited states of hydrogen atom confined in multiwalled fullerenes</a>.
			</span><br />
			<span class="authors">
				Ousmanou Motapon, Steve Ndengue, and Kalidas D Sen.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Journal of Quantum Chemistry 111(15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<img class="pub-figure" loading="lazy" src="img/news/ozone-absorption-crosssection-toc.png" alt="Figure from Absorption Cross Section of Ozone Isotopologues Calculated with the Multiconfiguration Time-Dependent Hartree (MCTDH) Method" />
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://pubs.acs.org/doi/abs/10.1021/jp103266m">Absorption Cross Section of Ozone Isotopologues Calculated with the Multiconfiguration Time-Dependent Hartree (MCTDH) Method: I. The Hartley and Huggins Bands</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue, Fabien Gatti, Reinhard Schinke, Hans-Dieter Meyer, and Remy Jost.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Physical Chemistry A 114(36)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://link.springer.com/article/10.1140/epjd/e2009-00222-6">Electron-electron interaction effects in heliumlike atoms confined in finite external square-well potential</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue and Ousmanou Motapon.
			</span><br />
			<span class="venuetype"></span><span class="venue">The European Physical Journal D-Atomic, Molecular, Optical and Plasma Physics 55(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2008</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img loading="lazy" src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://iopscience.iop.org/article/10.1088/0953-4075/41/4/045001/meta">Electric response of endohedrally confined hydrogen atoms</a>.
			</span><br />
			<span class="authors">
				Steve Ndengue and Ousmanou Motapon.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Physics B: Atomic, Molecular and Optical Physics 41(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
